
body {
/* height: 100%;
width: 100%; */
background: linear-gradient(to bottom, #000000 0%, #000066 100%);
/* background-image: url('../images/blackwhiteChecks.jpg');
image-repeat: repeat; */
}
header {
  height: 10%;
  width: 100%;
  text-align: center;
  /* background-image: url('../images/blackwhiteChecks.jpg');
  image-repeat: repeat; */
  /* background-image: url('images/blackwhiteChecks.jpg'); */
}
header > h1 {
  margin-top: -1vw;
  margin-left: -10vw;
  color: #DA0229;
  letter-spacing: 1vw;
  font-size: 11vw;
  font-family: 'Monoton', cursive;
}
header > h2 {
  color: #F79017;
  margin-left: -13vw;
  margin-top: -9vw;
  font-family: 'Playfair Display', serif;
  font-size: 2vw;

}
/* GRID CSS */
#grid-container {
  margin-top: 8vw;
  height: 51vw;
  width: 100%;
}
/* Timer: */
#stopWatch {
  text-align: center;
  height: 40px;
  width: 150px;
  color: black;
  background-color: white;
  border: 2px solid pink;
  border-radius: 10px;
  display: block;
  margin-top: -90px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: 25%;
  padding: auto;
}
#stopWatch >span {
  line-height: 100%;
  font-size: 3vw;
  padding:  5px auto;
  margin: 0;
  vertical-align: top;
}
/* Grid */
#grid {
  margin-left: 17%;
  padding-bottom: 0;
  padding-left: 0;
  height: 600px;
  width: 55vw;
  display: inline-flex;
  position: absolute;
}
.column {
  flex-direction: column;
  height: 100%;
  width: 12%;
  margin-bottom: 100px;

}
.square {
  width: 100%;
  height: 10%;
  /* border-left: 3px solid black;
  border-right: 3px solid black; */
  margin: 5px;
    /* border-radius: 20px; */
}
.guitar {
  height: 100%;
  width: 90%;
  vertical-align: bottom;
    border-radius: 20px;
}
.bass {
  height: 100%;
  width: 90%;
  vertical-align: bottom;
    border-radius: 20px;
}
.mic {
  height: 100%;
  width: 90%;
  vertical-align: bottom;
    border-radius: 20px;
}
.cash {
  height: 100%;
  width: 90%;
  vertical-align: bottom;
    border-radius: 20px;
}
.keys {
  height: 100%;
  width: 90%;
  vertical-align: bottom;
    border-radius: 20px;
}
.bandmate {
  height: 100%;
  width: 90%;
  vertical-align: bottom;
    border-radius: 20px;
}
.boss {
  height: 100%;
  width: 90%;
  vertical-align: bottom;
    border-radius: 20px;
}
.drums {
  height: 100%;
  width: 90%;
  vertical-align: bottom;
    border-radius: 20px;
}
#guitar > img {
  height: 60%;
  width: 60%;
}
#keys > img {
  height: 60%;
  width: 60%;
}
#drums > img {
  height: 60%;
  width: 60%;
}
#mic > img {
  height: 60%;
  width: 60%;
}
#bass > img {
  height: 60%;
  width: 60%;
}

/* INVENTORY CSS */
#inventory {
  margin-top: 5vw;
  margin-left: -10px;
  margin-bottom: 2vw;
  display: flex;
  height: 25%;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: white;
}
#money {
  margin-left: 4vw;
  margin-right: 4vw;
  width: 15%;
  height: 10vw;
  border: 3px solid #E99018;
  box-shadow: -5px -5px 5px #E99018;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  background-color: white;
  border-radius: 20px;
  margin-right: -110px;
  font-size: 2vw;
}
#instruments {
  margin-top: 3vw;
  margin-left: -70px;
  height: 80%;
  width: 100%;
  flex-direction: row;
  text-align: center;
  margin-bottom: 4vw;
}
.instrument {
  font-family: 'Playfair Display', serif;
  margin-left: 20px;
  width: 12vw;
  height: 13vw;
  border: 3px solid grey;
  box-shadow: -5px -5px 5px #888;
  display: inline-block;
  background-color: white;
  border-radius: 20px;
  vertical-align: top;
}
.instrument > h2 {
  margin-top: 2px;
  margin-bottom: 4px;
  font-size: 2vw;
  /* text-decoration: underline; */
}
/*  ASIDE*/
aside {
  color: white;
  float: right;
  width: 20vw;
  height: 400px;
  /* background-color: #F2CC5A; */
  background-color: #A8E5F5;
  border-radius: 20px 0 0 20px;
  text-align: left;
  margin-top: 150px;
  margin-right: 25px;
  margin-bottom: 5vw;
  padding-left: 15px;
  box-shadow: -5px -5px 5px white;
}
aside>div {
  border-bottom: 3px solid black;
  height: 100px;
}
#player1, #player2 {
  color: ;
  font-size: 2vw;
  font-family: 'Playfair Display', serif;
  margin: auto 30%;
  text-decoration: underline;
}
.time-text {
  font-size: 2vw;
  font-family: 'Playfair Display', serif;
}
.player-time {
  margin-top: 15%;
  margin-left: 30%;
  margin-bottom: -35px;
  font-size: 3vw;
  color: red;
  font-family: 'Russo One', sans-serif;


}
/* Footer: */
footer {
  margin-top: -4vw;
  line-height: 100%;
}
/*  Modal */
#modal1, #modal2, #modal3 {
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: auto;
    display: none;
}
#modal-textbox1, #modal-textbox2, #modal-textbox3 {
  text-align: center;
   font-size: 20px;
   font-weight: bold;
    background-color: white;
    border: 20px solid #FBB2B9;
    font-family: 'Playfair Display', serif;
    height: 625px;
    width: 500px;
    border-radius: 2px;
    margin: 100px auto 150px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    padding: 3% 2% 2%;
    line-height: 200%;
}
#modal-textbox2 {
  height: 450px;
  padding: 2%;
  border: 20px solid #D73893;
}
#modal-textbox3 {
  height: 300px;
  font-size: 30px;
}
#modal-footer, #modal-footer2 {
  margin-top: -30px;
    display: inline-block;
}
.role-call {
  display: inline-block;
}
.input {
margin-left: 0;
vertical-align: bottom;
}
.input-text {
  vertical-align: top;
  display: inline-block;
  margin-left: 0;
  word-spacing: 3px;
  font-size: 35px;
}
.input-text2 {
  vertical-align: top;
  display: inline-block;
  margin-left: 40px;
  word-spacing: 3px;
  font-size: 35px;
}
form {
  margin-top: -10px;
  margin-left: 100px;
}
#input-box {
  margin-left: -100px;
  padding: 10px 20px;
}
#input-box2 {
  margin-left: 50px;
  padding: 10px 20px;
}
#submit-btn, #playButton, #playAgainButton {
  margin-top: 20px;
  margin-left: 0;
  background-color: pink;
  padding: 10px 20px;
  font-size: 20px;
}
#playButton {
  margin-top: -20px;
  margin-bottom: 20px;
  background-color: #D73893;
}
/* Interactive CSS */
.click-border-red {
  border: 2px solid red;
}
.click-border-blue {
  border: 2px solid blue;
}
.click-border-green {
  border: 2px solid green;
}
